*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: arial;
    overflow-x: hide;
}



.container {
    width: 500px;
    margin-top: 10px;
    margin-left: 10px;
}

.titulo{
   text-align: center;
 
}

.geral{
    display: inline-block;
    
  

    .esquerda{
        background-color: rgb(255, 0, 0);

        button{
            width: 75px;
            border-radius: 5px;
            overflow: hidden;
            align-items: center;
            text-align: center;
                padding: 5px;
                    margin: 5px;
        }

        .open{
        background-color:#49D907;
        width: 45px;
        }

        .oop{
          background-color: #351ADD;
          width: 60px;
        }
        .flat {
            background-color: #1AD1DD;
        }
        .raise {
        background-color:#DD1A1A;
        width: 90px;
    }
    .call{
        background-color:#DDB21A ;
        width: 55px;
    }
    #co{
        width: 60px;
    }



    }
 


}